
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Parisienne&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(91, 89, 89);
}

main {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.m h2 {
    font-family: "Delius Swash Caps", cursive;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.377);
    color: white;
    margin: 10px 0px 10px 0px;
}

div.m { 
    border: 4px solid rgba(0, 0, 0, 0.192);
    border-radius: 10px;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 10px 0px;

}

iframe {
    margin: 10px 0px;
    width: 75vw;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.337);
}

